# This is an OpenAPI Specification (https://swagger.io/specification/)
# for the Prescriptions API
# owned by NHS Digital (https://digital.nhs.uk/)

openapi: 3.1.0
x-nhs-api-spec-guid: 816f3e79-1d81-4ae7-af54-dcd4a739d01a
info:
  title: Prescriptions for Patients API
  version: "0.0.1"
  contact:
    name: Prescriptions for Patients API Support
    url: https://digital.nhs.uk/developer/help-and-support
    email: api.management@nhs.net
  description: |
    ## Overview
    Use this API to access the Patient Facing Services (PFS) capabilities of the
    [Electronic Prescription Service (EPS)](https://digital.nhs.uk/services/electronic-prescription-service).

    EPS is the national service used to send electronic prescription messages between prescribers and community dispensers.

    ## Who can use this API
    This API can only be used where there is a legal basis to do so. Make sure you have a [valid use case](https://digital.nhs.uk/services/electronic-prescription-service/enabling-eps-for-your-service) before you go too far with your development. 

    You must get approval before you can go live. For more information, see the 'Onboarding' section.

    ## Technology
    This API is [RESTful](https://digital.nhs.uk/developer/guides-and-documentation/our-api-technologies#basic-rest).

    It conforms to the [FHIR](https://digital.nhs.uk/developer/guides-and-documentation/our-api-technologies#fhir) global standard for health care data exchange, specifically to [FHIR R4 (v4.0.1)](https://hl7.org/fhir/r4/), except that it does not support the [capabilities](http://hl7.org/fhir/R4/http.html#capabilities) interaction.

    It includes some country-specific FHIR extensions, which are built against [FHIR UK Core, specifically [UKcore.stu1 0.5.1](https://simplifier.net/packages/fhir.r4.ukcore.stu1/0.5.1).

    You do not need to know much about FHIR to use this API - FHIR APIs are just RESTful APIs that follow specific rules. In particular:
    * resource names are capitalised and singular, for example `/Patient` not `/patients`
    * array names are singular, for example `line` not `lines` for address lines
    * data items that are country-specific and thus not included in the FHIR global base resources are usually wrapped in an `extension` object

    There are [libraries and software development kits available](https://digital.nhs.uk/developer/guides-and-documentation/api-technologies-at-nhs-digital#fhir-libraries-and-sdks) to help with FHIR API integration.

    ## Network access
    This API is available on the internet and, indirectly, on the [Health and Social Care Network (HSCN)](https://digital.nhs.uk/services/health-and-social-care-network).

    For more details see [Network access for APIs](https://digital.nhs.uk/developer/guides-and-documentation/network-access-for-apis).

    ## Security and authorisation
    This API has one access mode:
    * user-restricted access

    ### User-restricted access
    Use this access mode to search for a patient's prescription data.

    To use this access mode, see the Patient access section here:
    * [User-restricted RESTful API - using NHS Login - separate authentication and authorisation](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation#user-restricted-apis)

    ## Environment and testing
    | Environment   | Base URL                                                     |
    | ------------- | -------------------------------------------------------------|
    | Integration   | `https://int.api.service.nhs.uk/prescriptions-for-patients`  |
    | Production    | `https://api.service.nhs.uk/prescriptions-for-patients`      |

    ## Errors
    ### API wide errors
    | HTTP Status   | Error Code             | Description                                                                      |
    | --------------| ---------------------- | -------------------------------------------------------------------------------- |
    | 400           | BAD_REQUEST            | Invalid request.                                                                 |
    | 404           | NOT_FOUND              | Resource not found.                                                              |

    ### Platform wide errors
    | HTTP Status   | Error Code            | Description                                                                                                                           |
    | ------------- | --------------------- | ------------------------------------------------------------------------------------------------------------------------------------- |
    | 401           | ACCESS_DENIED         | User does not have permission for a particular request.                                                                               |
    | 403           | FORBIDDEN             | Insufficient authorization.                                                                                                           |
    | 404           | NOT_FOUND             | Route not found.                                                                                                                      |
    | 500           | INTERNAL SERVER ERROR | The server has encountered a situation it does not know how to handle.                                                                |

    For further details on common error codes, see [HTTP status codes](https://digital.nhs.uk/developer/guides-and-documentation/reference-guide#http-status-codes)

x-spec-publication:
  operation-order:
    - operations:
        - method: GET
          path: /Bundle

servers:
  - url: "https://int.api.service.nhs.uk/prescriptions-for-patients"
    description: "Integration"
  - url: "https://api.service.nhs.uk/prescriptions-for-patients"
    description: "Production"

paths:
  /Bundle:
    get:
      operationId: prescriptions-for-patients-bundle
      summary: Get prescriptions for the given user
      description: |
        ## Overview
        Use this endpoint to get a Bundle containing a list of the user's prescriptions.
      parameters:
        - $ref: "#/components/parameters/BearerAuthorisation"
        - $ref: "#/components/parameters/RequestID"
      responses:
        "200":
          description: Successful retrieval.
          content:
            application/fhir+json:
              schema:
                $ref: "#/components/schemas/bundle-response"
              examples:
                prescriptions-present:
                  description: A successful response to a GetMyPrescriptions/Bundle request, containing one prescription.
                  value:
                    $ref: examples/GetMyPrescriptions/Bundle/success.json
                prescriptions-present-multiple:
                  description: A successful response to a GetMyPrescriptions/Bundle request, containing multiple prescriptions.
                  value:
                    $ref: examples/GetMyPrescriptions/Bundle/success-multiple.json
                prescriptions-not-present:
                  description: A successful response to a GetMyPrescriptions/Bundle request, where no prescriptions were found.
                  value:
                    $ref: examples/GetMyPrescriptions/Bundle/success-empty.json
        "4XX":
          description: Invalid request.
          content:
            application/fhir+json:
              schema:
                $ref: "#/components/schemas/operation-outcome"
              examples:
                example:
                  description: |
                    An error response to a GetMyPrescriptions/Bundle request.
                    Resource not found for the given NHS number.
                  value:
                    $ref: examples/GetMyPrescriptions/Bundle/error.json

components:
  parameters:
    BearerAuthorisation:
      in: header
      name: Authorization
      description: |
        An [OAuth 2.0 bearer token](https://digital.nhs.uk/developer/guides-and-documentation/security-and-authorisation#user-restricted-apis).
      required: true
      schema:
        type: string
        format: '^Bearer\ [[:ascii:]]+$'
        example: "Bearer g1112R_ccQ1Ebbb4gtHBP1aaaNM"
    RequestID:
      in: header
      name: X-Request-ID
      required: true
      description: |
        A globally unique identifier (GUID) for the request, which we use to correlate logs through different components.
        Must be a universally unique identifier (UUID) (ideally version 4).
        Mirrored back in a response header.
      schema:
        type: string
        pattern: "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$"
        example: 60E0B220-8136-4CA5-AE46-1D97EF59D068
  schemas:
    operation-outcome:
      $ref: schemas/resources/OperationOutcome.yaml
    bundle-response:
      type: object
      required:
        - entry
        - resourceType
        - type
      description: A FHIR searchset Bundle.
      properties:
        resourceType:
          type: string
          description: FHIR resource type.
          default: Bundle
        id:
          type: string
          description: Object ID for the Bundle.
          example: 164996aa-29eb-4f14-a5ac-4b556a7baf6e
        type:
          type: string
          description: Denotes that the bundle is a list of resources returned as a result of a search.
          enum: [searchset]
        entry:
          type: array
          description: A collection of resources contained within the Bundle.
          items:
            type: object
            required:
              - resourceType
              - identifier
              - type
              - entry
            description: A FHIR collection Bundle.
            properties:
              resourceType:
                type: string
                description: FHIR resource type.
                default: Bundle
              id:
                type: string
                description: Object ID for the Bundle.
                example: 164996aa-29eb-4f14-a5ac-4b556a7baf6e
              type:
                type: string
                description: Denotes that the bundle is a collection of resources. Representing a Prescription, in this case.
                enum: [collection]
              entry:
                type: array
                description: A collection of resources contained within the Bundle.
                items:
                  oneOf:
                    - $ref: "#/components/schemas/MedicationRequest-Resource"
                    - $ref: "#/components/schemas/OrganisationDispensing-Resource"
                    - $ref: "#/components/schemas/OrganisationPrescribing-Resource"
                    - $ref: "#/components/schemas/Practitioner-Resource"
                    - $ref: "#/components/schemas/PractitionerRole-Resource"
    MedicationRequest-Resource:
      type: object
      description: MedicationRequest
      properties:
        resource:
          $ref: schemas/resources/MedicationRequest.yaml
    OrganisationDispensing-Resource:
      type: object
      description: Dispensing Organisation
      properties:
        resource:
          $ref: schemas/resources/OrganisationDispensing.yaml
    OrganisationPrescribing-Resource:
      type: object
      description: Prescribing Organisation
      properties:
        resource:
          $ref: schemas/resources/OrganisationPrescribing.yaml
    Practitioner-Resource:
      type: object
      description: Practitioner
      properties:
        resource:
          $ref: schemas/resources/Practitioner.yaml
    PractitionerRole-Resource:
      type: object
      description: PractitionerRole
      properties:
        resource:
          $ref: schemas/resources/PractitionerRole.yaml
