#########################################################################
# Dependabot configuration file
#########################################################################

version: 2
updates:
  - package-ecosystem: "github-actions"
    # Workflow files stored in the
    # default location of `.github/workflows`
    directory: "/"
    schedule:
      interval: "daily"

  ###################################
  # NPM workspace  ##################
  ###################################
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
    versioning-strategy: increase

  ###################################
  # Poetry  #########################
  ###################################
  - package-ecosystem: "python"
    directory: "/"
    schedule:
      interval: "daily"
    versioning-strategy: increase
