*.log
**/build/
**/dist/
**/newman/
**/public/
**/coverage/
**/node_modules/
.#*
__pycache__/
.envrc
.idea
.vscode/settings.json
./sign/
*.key
.DS_Store
junit.xml
release_notes
/ecs-*.yml
.venv
.aws-sam
lib/
*.tsbuildinfo
cfn_guard_output/
