export AWS_DEFAULT_PROFILE=Admin-591291862413
export PATH="$PWD/node_modules/.bin:$PATH"
export stack_name=<your unique name here>
export TARGET_SPINE_SERVER=msg.veit07.devspineservices.nhs.uk
export TARGET_SERVICE_SEARCH_SERVER=int.api.service.nhs.uk
