name: merge to main workflow

on:
  push:
    branches: [main]

env:
  BRANCH_NAME: ${{ github.ref_name }}

jobs:
  get_config_values:
    runs-on: ubuntu-22.04
    outputs:
      tag_format: ${{ steps.load-config.outputs.TAG_FORMAT }}
      devcontainer_version: ${{ steps.load-config.outputs.DEVCONTAINER_VERSION }}
      devcontainer_image: ${{ steps.load-config.outputs.DEVCONTAINER_IMAGE }}
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd

      - name: Load config value
        id: load-config
        run: |
          TAG_FORMAT=$(yq '.TAG_FORMAT' .github/config/settings.yml)
          DEVCONTAINER_IMAGE=$(jq -r '.build.args.IMAGE_NAME' .devcontainer/devcontainer.json)
          DEVCONTAINER_VERSION=$(jq -r '.build.args.IMAGE_VERSION' .devcontainer/devcontainer.json)
          {
            echo "TAG_FORMAT=$TAG_FORMAT" 
            echo "DEVCONTAINER_IMAGE=$DEVCONTAINER_IMAGE"
            echo "DEVCONTAINER_VERSION=$DEVCONTAINER_VERSION"
          } >> "$GITHUB_OUTPUT"

  quality_checks:
    uses: NHSDigital/eps-common-workflows/.github/workflows/quality-checks-devcontainer.yml@36677e1d6bfaa010d7b78942a1ade12fbefecb80
    needs: [get_config_values]
    with:
      runtime_docker_image: "${{ needs.get_config_values.outputs.devcontainer_image }}:githubactions-${{ needs.get_config_values.outputs.devcontainer_version }}"
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  get_commit_id:
    runs-on: ubuntu-22.04
    outputs:
      commit_id: ${{ steps.commit_id.outputs.commit_id }}
    steps:
      - name: Get Commit ID
        id: commit_id
        run: |
          echo "commit_id=${{ github.sha }}" >> "$GITHUB_OUTPUT"

  tag_release:
    needs: [quality_checks, get_commit_id, get_config_values]
    uses: NHSDigital/eps-common-workflows/.github/workflows/tag-release-devcontainer.yml@36677e1d6bfaa010d7b78942a1ade12fbefecb80
    with:
      dry_run: true
      runtime_docker_image: "${{ needs.get_config_values.outputs.devcontainer_image }}:githubactions-${{ needs.get_config_values.outputs.devcontainer_version }}"
      branch_name: main
      tag_format: ${{ needs.get_config_values.outputs.tag_format }}
      verify_published_from_main_image: true
    secrets: inherit

  package_code:
    needs: [tag_release, get_config_values]
    uses: ./.github/workflows/sam_package_code.yml
    with:
      runtime_docker_image: "${{ needs.get_config_values.outputs.devcontainer_image }}:githubactions-${{ needs.get_config_values.outputs.devcontainer_version }}"
      verify_published_from_main_image: true

  release_dev:
    needs: [tag_release, package_code, get_commit_id, get_config_values]
    uses: ./.github/workflows/sam_release_code.yml
    with:
      ARTIFACT_BUCKET_PREFIX: ${{needs.tag_release.outputs.version_tag}}
      STACK_NAME: pfp
      TARGET_ENVIRONMENT: dev
      APIGEE_ENVIRONMENT: internal-dev
      ENABLE_MUTUAL_TLS: true
      MTLS_KEY: prescriptions-for-patients-mtls-1
      BUILD_ARTIFACT: packaged_code
      TRUSTSTORE_FILE: pfp-truststore.pem
      VERSION_NUMBER: ${{needs.tag_release.outputs.version_tag}}
      COMMIT_ID: ${{needs.get_commit_id.outputs.commit_id}}
      LOG_LEVEL: DEBUG
      LOG_RETENTION_DAYS: 30
      CREATE_INT_RELEASE_NOTES: true
      CREATE_PROD_RELEASE_NOTES: true
      TOGGLE_GET_STATUS_UPDATES: true
      ENABLE_ALERTS: true
      STATE_MACHINE_LOG_LEVEL: ALL
      RUN_REGRESSION_TESTS: true
      REGRESSION_TEST_PRODUCT: PFP-APIGEE
      FORWARD_CSOC_LOGS: false
      ALLOW_NHS_NUMBER_OVERRIDE: true
      REGRESSION_TEST_NON_PROXYGEN: true
      runtime_docker_image: "${{ needs.get_config_values.outputs.devcontainer_image }}:githubactions-${{ needs.get_config_values.outputs.devcontainer_version }}"
      verify_published_from_main_image: true
    secrets:
      REGRESSION_TESTS_PEM: ${{ secrets.REGRESSION_TESTS_PEM }}
      CLOUD_FORMATION_DEPLOY_ROLE: ${{ secrets.DEV_CLOUD_FORMATION_DEPLOY_ROLE }}
      TARGET_SPINE_SERVER: ${{ secrets.DEV_TARGET_SPINE_SERVER }}
      TARGET_SERVICE_SEARCH_SERVER: ${{ secrets.DEV_TARGET_SERVICE_SEARCH_SERVER }}
      DEV_CLOUD_FORMATION_CHECK_VERSION_ROLE: ${{ secrets.DEV_CLOUD_FORMATION_CHECK_VERSION_ROLE }}
      INT_CLOUD_FORMATION_CHECK_VERSION_ROLE: ${{ secrets.INT_CLOUD_FORMATION_CHECK_VERSION_ROLE }}
      PROD_CLOUD_FORMATION_CHECK_VERSION_ROLE: ${{ secrets.PROD_CLOUD_FORMATION_CHECK_VERSION_ROLE }}
      DEV_CLOUD_FORMATION_EXECUTE_LAMBDA_ROLE: ${{ secrets.DEV_CLOUD_FORMATION_EXECUTE_LAMBDA_ROLE }}
      PROXYGEN_ROLE: ${{ secrets.PROXYGEN_PTL_ROLE }}

  release_dev_sandbox:
    needs: [tag_release, package_code, get_commit_id, get_config_values]
    uses: ./.github/workflows/sam_release_code.yml
    with:
      ARTIFACT_BUCKET_PREFIX: ${{needs.tag_release.outputs.version_tag}}
      STACK_NAME: pfp-sandbox
      TARGET_ENVIRONMENT: dev
      APIGEE_ENVIRONMENT: internal-dev-sandbox
      ENABLE_MUTUAL_TLS: false
      MTLS_KEY: prescriptions-for-patients-mtls-1
      BUILD_ARTIFACT: packaged_sandbox_code
      TRUSTSTORE_FILE: pfp-sandbox-truststore.pem
      VERSION_NUMBER: ${{needs.tag_release.outputs.version_tag}}
      COMMIT_ID: ${{needs.get_commit_id.outputs.commit_id}}
      LOG_LEVEL: DEBUG
      LOG_RETENTION_DAYS: 30
      STATE_MACHINE_LOG_LEVEL: ALL
      RUN_REGRESSION_TESTS: false
      FORWARD_CSOC_LOGS: false
      ALLOW_NHS_NUMBER_OVERRIDE: true
      runtime_docker_image: "${{ needs.get_config_values.outputs.devcontainer_image }}:githubactions-${{ needs.get_config_values.outputs.devcontainer_version }}"
      verify_published_from_main_image: true
    secrets:
      REGRESSION_TESTS_PEM: ${{ secrets.REGRESSION_TESTS_PEM }}
      CLOUD_FORMATION_DEPLOY_ROLE: ${{ secrets.DEV_CLOUD_FORMATION_DEPLOY_ROLE }}
      TARGET_SPINE_SERVER: sandbox
      TARGET_SERVICE_SEARCH_SERVER: sandbox
      PROXYGEN_ROLE: ${{ secrets.PROXYGEN_PTL_ROLE }}

  release_qa:
    needs:
      [
        tag_release,
        release_dev,
        release_dev_sandbox,
        get_config_values,
        package_code,
        get_commit_id,
      ]
    uses: ./.github/workflows/sam_release_code.yml
    with:
      ARTIFACT_BUCKET_PREFIX: ${{needs.tag_release.outputs.version_tag}}
      STACK_NAME: pfp
      TARGET_ENVIRONMENT: qa
      APIGEE_ENVIRONMENT: internal-qa
      ENABLE_MUTUAL_TLS: true
      MTLS_KEY: prescriptions-for-patients-mtls-1
      BUILD_ARTIFACT: packaged_code
      TRUSTSTORE_FILE: pfp-truststore.pem
      VERSION_NUMBER: ${{needs.tag_release.outputs.version_tag}}
      COMMIT_ID: ${{needs.get_commit_id.outputs.commit_id}}
      LOG_LEVEL: DEBUG
      LOG_RETENTION_DAYS: 30
      TOGGLE_GET_STATUS_UPDATES: true
      ENABLE_ALERTS: true
      STATE_MACHINE_LOG_LEVEL: ALL
      RUN_REGRESSION_TESTS: true
      REGRESSION_TEST_PRODUCT: PFP-APIGEE
      FORWARD_CSOC_LOGS: false
      ALLOW_NHS_NUMBER_OVERRIDE: true
      REGRESSION_TEST_NON_PROXYGEN: true
      runtime_docker_image: "${{ needs.get_config_values.outputs.devcontainer_image }}:githubactions-${{ needs.get_config_values.outputs.devcontainer_version }}"
      verify_published_from_main_image: true
    secrets:
      REGRESSION_TESTS_PEM: ${{ secrets.REGRESSION_TESTS_PEM }}
      CLOUD_FORMATION_DEPLOY_ROLE: ${{ secrets.QA_CLOUD_FORMATION_DEPLOY_ROLE }}
      TARGET_SPINE_SERVER: ${{ secrets.QA_TARGET_SPINE_SERVER }}
      TARGET_SERVICE_SEARCH_SERVER: ${{ secrets.QA_TARGET_SERVICE_SEARCH_SERVER }}
      PROXYGEN_ROLE: ${{ secrets.PROXYGEN_PTL_ROLE }}
