name: 'Delete old cloudformation stacks'

# Controls when the action will run - in this case triggered manually
on:
  workflow_dispatch:
  schedule:
    - cron: "0 0,12 * * *"

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "combine-prs"
  delete-old-cloudformation-stacks:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    permissions:
        id-token: write
        contents: read

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Checkout local github scripts
        uses: actions/checkout@v4
        with:
          ref: ${{ env.BRANCH_NAME }}
          sparse-checkout: |
            .github/scripts

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-region: eu-west-2
          role-to-assume: ${{ secrets.DEV_CLOUD_FORMATION_DEPLOY_ROLE }}
          role-session-name: github-actions

      - name: delete stacks
        shell: bash
        working-directory: .github/scripts
        run: ./delete_stacks.sh
