name: deploy to environments

on:
  workflow_dispatch:

jobs:
  get_asdf_version:
    runs-on: ubuntu-22.04
    outputs:
      asdf_version: ${{ steps.asdf-version.outputs.version }}
      tag_format: ${{ steps.load-config.outputs.TAG_FORMAT }}
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd

      - name: Get asdf version
        id: asdf-version
        run: echo "version=$(awk '!/^#/ && NF {print $1; exit}' .tool-versions.asdf)" >> "$GITHUB_OUTPUT"
      - name: Load config value
        id: load-config
        run: |
          TAG_FORMAT=$(yq '.TAG_FORMAT' .github/config/settings.yml)
          echo "TAG_FORMAT=$TAG_FORMAT" >> "$GITHUB_OUTPUT"

  quality_checks:
    uses: NHSDigital/eps-common-workflows/.github/workflows/quality-checks.yml@d215f841eb18b803e339e4ed597ed1f30e086e17
    needs: [get_asdf_version]
    with:
      asdfVersion: ${{ needs.get_asdf_version.outputs.asdf_version }}
    secrets:
      SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  get_commit_id:
    runs-on: ubuntu-22.04
    outputs:
      commit_id: ${{ steps.commit_id.outputs.commit_id }}
    steps:
      - name: Get Commit ID
        id: commit_id
        run: |
          echo "commit_id=${{ github.sha }}" >> "$GITHUB_OUTPUT"

  tag_release:
    needs: [quality_checks, get_commit_id, get_asdf_version]
    uses: NHSDigital/eps-common-workflows/.github/workflows/tag-release.yml@d215f841eb18b803e339e4ed597ed1f30e086e17
    with:
      dry_run: false
      asdfVersion: ${{ needs.get_asdf_version.outputs.asdf_version }}
      branch_name: main
      tag_format: ${{ needs.get_asdf_version.outputs.tag_format }}
    secrets: inherit

  package_code:
    needs: tag_release
    uses: ./.github/workflows/sam_package_code.yml

  release_dev:
    needs: [tag_release, package_code, get_commit_id]
    uses: ./.github/workflows/sam_release_code.yml
    with:
      ARTIFACT_BUCKET_PREFIX: ${{needs.tag_release.outputs.version_tag}}
      STACK_NAME: pfp
      TARGET_ENVIRONMENT: dev
      APIGEE_ENVIRONMENT: internal-dev
      ENABLE_MUTUAL_TLS: true
      MTLS_KEY: prescriptions-for-patients-mtls-1
      BUILD_ARTIFACT: packaged_code
      TRUSTSTORE_FILE: pfp-truststore.pem
      VERSION_NUMBER: ${{needs.tag_release.outputs.version_tag}}
      COMMIT_ID: ${{needs.get_commit_id.outputs.commit_id}}
      LOG_LEVEL: DEBUG
      LOG_RETENTION_DAYS: 30
      CREATE_INT_RELEASE_NOTES: true
      CREATE_PROD_RELEASE_NOTES: true
      TOGGLE_GET_STATUS_UPDATES: true
      ENABLE_ALERTS: true
      STATE_MACHINE_LOG_LEVEL: ALL
      RUN_REGRESSION_TESTS: true
      REGRESSION_TEST_NON_PROXYGEN: true
      REGRESSION_TEST_PRODUCT: PFP-APIGEE
      FORWARD_CSOC_LOGS: false
      TC007_NHS_NUMBERS: ${{vars.TC007_NHS_NUMBERS}}
      TC008_NHS_NUMBERS: ${{vars.TC008_NHS_NUMBERS}}
      TC009_NHS_NUMBERS: ${{vars.TC009_NHS_NUMBERS}}
      ALLOW_NHS_NUMBER_OVERRIDE: true
    secrets:
      REGRESSION_TESTS_PEM: ${{ secrets.REGRESSION_TESTS_PEM }}
      CLOUD_FORMATION_DEPLOY_ROLE: ${{ secrets.DEV_CLOUD_FORMATION_DEPLOY_ROLE }}
      TARGET_SPINE_SERVER: ${{ secrets.DEV_TARGET_SPINE_SERVER }}
      TARGET_SERVICE_SEARCH_SERVER: ${{ secrets.DEV_TARGET_SERVICE_SEARCH_SERVER }}
      DEV_CLOUD_FORMATION_CHECK_VERSION_ROLE: ${{ secrets.DEV_CLOUD_FORMATION_CHECK_VERSION_ROLE }}
      INT_CLOUD_FORMATION_CHECK_VERSION_ROLE: ${{ secrets.INT_CLOUD_FORMATION_CHECK_VERSION_ROLE }}
      PROD_CLOUD_FORMATION_CHECK_VERSION_ROLE: ${{ secrets.PROD_CLOUD_FORMATION_CHECK_VERSION_ROLE }}
      DEV_CLOUD_FORMATION_EXECUTE_LAMBDA_ROLE: ${{ secrets.DEV_CLOUD_FORMATION_EXECUTE_LAMBDA_ROLE }}
      PROXYGEN_ROLE: ${{ secrets.PROXYGEN_PTL_ROLE }}
  release_dev_sandbox:
    needs: [tag_release, package_code, get_commit_id]
    uses: ./.github/workflows/sam_release_code.yml
    with:
      ARTIFACT_BUCKET_PREFIX: ${{needs.tag_release.outputs.version_tag}}
      STACK_NAME: pfp-sandbox
      TARGET_ENVIRONMENT: dev
      APIGEE_ENVIRONMENT: internal-dev-sandbox
      ENABLE_MUTUAL_TLS: true
      MTLS_KEY: prescriptions-for-patients-mtls-1
      BUILD_ARTIFACT: packaged_sandbox_code
      TRUSTSTORE_FILE: pfp-sandbox-truststore.pem
      VERSION_NUMBER: ${{needs.tag_release.outputs.version_tag}}
      COMMIT_ID: ${{needs.get_commit_id.outputs.commit_id}}
      LOG_LEVEL: DEBUG
      LOG_RETENTION_DAYS: 30
      STATE_MACHINE_LOG_LEVEL: ALL
      RUN_REGRESSION_TESTS: false
      FORWARD_CSOC_LOGS: false
      TC007_NHS_NUMBERS: ${{vars.TC007_NHS_NUMBERS}}
      TC008_NHS_NUMBERS: ${{vars.TC008_NHS_NUMBERS}}
      TC009_NHS_NUMBERS: ${{vars.TC009_NHS_NUMBERS}}
      ALLOW_NHS_NUMBER_OVERRIDE: true
    secrets:
      REGRESSION_TESTS_PEM: ${{ secrets.REGRESSION_TESTS_PEM }}
      CLOUD_FORMATION_DEPLOY_ROLE: ${{ secrets.DEV_CLOUD_FORMATION_DEPLOY_ROLE }}
      TARGET_SPINE_SERVER: sandbox
      TARGET_SERVICE_SEARCH_SERVER: sandbox
      PROXYGEN_ROLE: ${{ secrets.PROXYGEN_PTL_ROLE }}

  release_ref:
    needs:
      [
        tag_release,
        release_dev,
        release_dev_sandbox,
        package_code,
        get_commit_id,
      ]
    uses: ./.github/workflows/sam_release_code.yml
    with:
      ARTIFACT_BUCKET_PREFIX: ${{needs.tag_release.outputs.version_tag}}
      STACK_NAME: pfp
      TARGET_ENVIRONMENT: ref
      APIGEE_ENVIRONMENT: ref
      ENABLE_MUTUAL_TLS: false
      MTLS_KEY: prescriptions-for-patients-mtls-1
      BUILD_ARTIFACT: packaged_code
      TRUSTSTORE_FILE: pfp-truststore.pem
      VERSION_NUMBER: ${{needs.tag_release.outputs.version_tag}}
      COMMIT_ID: ${{needs.get_commit_id.outputs.commit_id}}
      LOG_LEVEL: DEBUG
      LOG_RETENTION_DAYS: 30
      TOGGLE_GET_STATUS_UPDATES: true
      ENABLE_ALERTS: true
      STATE_MACHINE_LOG_LEVEL: ERROR
      RUN_REGRESSION_TESTS: false
      FORWARD_CSOC_LOGS: false
      TC007_NHS_NUMBERS: ${{vars.TC007_NHS_NUMBERS}}
      TC008_NHS_NUMBERS: ${{vars.TC008_NHS_NUMBERS}}
      TC009_NHS_NUMBERS: ${{vars.TC009_NHS_NUMBERS}}
      ALLOW_NHS_NUMBER_OVERRIDE: true
    secrets:
      REGRESSION_TESTS_PEM: ${{ secrets.REGRESSION_TESTS_PEM }}
      CLOUD_FORMATION_DEPLOY_ROLE: ${{ secrets.REF_CLOUD_FORMATION_DEPLOY_ROLE }}
      TARGET_SPINE_SERVER: ${{ secrets.REF_TARGET_SPINE_SERVER }}
      TARGET_SERVICE_SEARCH_SERVER: ${{ secrets.REF_TARGET_SERVICE_SEARCH_SERVER }}
      PROXYGEN_ROLE: ${{ secrets.PROXYGEN_PTL_ROLE }}
  release_qa:
    needs:
      [
        tag_release,
        release_dev,
        release_dev_sandbox,
        package_code,
        get_commit_id,
      ]
    uses: ./.github/workflows/sam_release_code.yml
    with:
      ARTIFACT_BUCKET_PREFIX: ${{needs.tag_release.outputs.version_tag}}
      STACK_NAME: pfp
      TARGET_ENVIRONMENT: qa
      APIGEE_ENVIRONMENT: internal-qa
      ENABLE_MUTUAL_TLS: true
      MTLS_KEY: prescriptions-for-patients-mtls-1
      BUILD_ARTIFACT: packaged_code
      TRUSTSTORE_FILE: pfp-truststore.pem
      VERSION_NUMBER: ${{needs.tag_release.outputs.version_tag}}
      COMMIT_ID: ${{needs.get_commit_id.outputs.commit_id}}
      LOG_LEVEL: DEBUG
      LOG_RETENTION_DAYS: 30
      TOGGLE_GET_STATUS_UPDATES: true
      ENABLE_ALERTS: true
      STATE_MACHINE_LOG_LEVEL: ALL
      RUN_REGRESSION_TESTS: true
      REGRESSION_TEST_NON_PROXYGEN: true
      REGRESSION_TEST_PRODUCT: PFP-APIGEE
      FORWARD_CSOC_LOGS: false
      TC007_NHS_NUMBERS: ${{vars.TC007_NHS_NUMBERS}}
      TC008_NHS_NUMBERS: ${{vars.TC008_NHS_NUMBERS}}
      TC009_NHS_NUMBERS: ${{vars.TC009_NHS_NUMBERS}}
      ALLOW_NHS_NUMBER_OVERRIDE: true
    secrets:
      REGRESSION_TESTS_PEM: ${{ secrets.REGRESSION_TESTS_PEM }}
      CLOUD_FORMATION_DEPLOY_ROLE: ${{ secrets.QA_CLOUD_FORMATION_DEPLOY_ROLE }}
      TARGET_SPINE_SERVER: ${{ secrets.QA_TARGET_SPINE_SERVER }}
      TARGET_SERVICE_SEARCH_SERVER: ${{ secrets.QA_TARGET_SERVICE_SEARCH_SERVER }}
      PROXYGEN_ROLE: ${{ secrets.PROXYGEN_PTL_ROLE }}
  release_int:
    needs: [tag_release, release_qa, package_code, get_commit_id]
    uses: ./.github/workflows/sam_release_code.yml
    with:
      ARTIFACT_BUCKET_PREFIX: ${{needs.tag_release.outputs.version_tag}}
      STACK_NAME: pfp
      TARGET_ENVIRONMENT: int
      APIGEE_ENVIRONMENT: int
      ENABLE_MUTUAL_TLS: true
      MTLS_KEY: prescriptions-for-patients-mtls-1
      BUILD_ARTIFACT: packaged_code
      TRUSTSTORE_FILE: pfp-truststore.pem
      VERSION_NUMBER: ${{needs.tag_release.outputs.version_tag}}
      COMMIT_ID: ${{needs.get_commit_id.outputs.commit_id}}
      LOG_LEVEL: DEBUG
      LOG_RETENTION_DAYS: 30
      CREATE_INT_RELEASE_NOTES: true
      CREATE_INT_RC_RELEASE_NOTES: true
      TOGGLE_GET_STATUS_UPDATES: true
      ENABLE_ALERTS: true
      STATE_MACHINE_LOG_LEVEL: ALL
      RUN_REGRESSION_TESTS: true
      REGRESSION_TEST_NON_PROXYGEN: true
      REGRESSION_TEST_PRODUCT: PFP-APIGEE
      FORWARD_CSOC_LOGS: false
      TC007_NHS_NUMBERS: ${{vars.TC007_NHS_NUMBERS}}
      TC008_NHS_NUMBERS: ${{vars.TC008_NHS_NUMBERS}}
      TC009_NHS_NUMBERS: ${{vars.TC009_NHS_NUMBERS}}
      ALLOW_NHS_NUMBER_OVERRIDE: true
    secrets:
      REGRESSION_TESTS_PEM: ${{ secrets.REGRESSION_TESTS_PEM }}
      CLOUD_FORMATION_DEPLOY_ROLE: ${{ secrets.INT_CLOUD_FORMATION_DEPLOY_ROLE }}
      TARGET_SPINE_SERVER: ${{ secrets.INT_TARGET_SPINE_SERVER }}
      TARGET_SERVICE_SEARCH_SERVER: ${{ secrets.INT_TARGET_SERVICE_SEARCH_SERVER }}
      DEV_CLOUD_FORMATION_CHECK_VERSION_ROLE: ${{ secrets.DEV_CLOUD_FORMATION_CHECK_VERSION_ROLE }}
      INT_CLOUD_FORMATION_CHECK_VERSION_ROLE: ${{ secrets.INT_CLOUD_FORMATION_CHECK_VERSION_ROLE }}
      PROD_CLOUD_FORMATION_CHECK_VERSION_ROLE: ${{ secrets.PROD_CLOUD_FORMATION_CHECK_VERSION_ROLE }}
      DEV_CLOUD_FORMATION_EXECUTE_LAMBDA_ROLE: ${{ secrets.DEV_CLOUD_FORMATION_EXECUTE_LAMBDA_ROLE }}
      PROXYGEN_ROLE: ${{ secrets.PROXYGEN_PROD_ROLE }}
  release_sandbox:
    needs: [tag_release, release_qa, package_code, get_commit_id]
    uses: ./.github/workflows/sam_release_code.yml
    with:
      ARTIFACT_BUCKET_PREFIX: ${{needs.tag_release.outputs.version_tag}}
      STACK_NAME: pfp-sandbox
      TARGET_ENVIRONMENT: int
      APIGEE_ENVIRONMENT: sandbox
      ENABLE_MUTUAL_TLS: true
      MTLS_KEY: prescriptions-for-patients-mtls-1
      BUILD_ARTIFACT: packaged_sandbox_code
      TRUSTSTORE_FILE: pfp-sandbox-truststore.pem
      VERSION_NUMBER: ${{needs.tag_release.outputs.version_tag}}
      COMMIT_ID: ${{needs.get_commit_id.outputs.commit_id}}
      LOG_LEVEL: DEBUG
      LOG_RETENTION_DAYS: 30
      RUN_REGRESSION_TESTS: false
      STATE_MACHINE_LOG_LEVEL: ALL
      FORWARD_CSOC_LOGS: false
      ALLOW_NHS_NUMBER_OVERRIDE: true
    secrets:
      REGRESSION_TESTS_PEM: ${{ secrets.REGRESSION_TESTS_PEM }}
      CLOUD_FORMATION_DEPLOY_ROLE: ${{ secrets.INT_CLOUD_FORMATION_DEPLOY_ROLE }}
      TARGET_SPINE_SERVER: sandbox
      TARGET_SERVICE_SEARCH_SERVER: sandbox
      PROXYGEN_ROLE: ${{ secrets.PROXYGEN_PROD_ROLE }}

  release_prod:
    needs:
      [tag_release, release_int, release_sandbox, package_code, get_commit_id]
    uses: ./.github/workflows/sam_release_code.yml
    with:
      ARTIFACT_BUCKET_PREFIX: ${{needs.tag_release.outputs.version_tag}}
      STACK_NAME: pfp
      TARGET_ENVIRONMENT: prod
      APIGEE_ENVIRONMENT: prod
      ENABLE_MUTUAL_TLS: true
      MTLS_KEY: prescriptions-for-patients-mtls-1
      BUILD_ARTIFACT: packaged_code
      TRUSTSTORE_FILE: pfp-truststore.pem
      VERSION_NUMBER: ${{needs.tag_release.outputs.version_tag}}
      COMMIT_ID: ${{needs.get_commit_id.outputs.commit_id}}
      LOG_LEVEL: INFO
      LOG_RETENTION_DAYS: 731
      MARK_JIRA_RELEASED: true
      CREATE_PROD_RELEASE_NOTES: true
      TOGGLE_GET_STATUS_UPDATES: true
      RUN_REGRESSION_TESTS: false
      ENABLE_ALERTS: true
      STATE_MACHINE_LOG_LEVEL: ERROR
      FORWARD_CSOC_LOGS: true
      DEPLOY_APIGEE: true
      ALLOW_NHS_NUMBER_OVERRIDE: false
    secrets:
      REGRESSION_TESTS_PEM: ${{ secrets.REGRESSION_TESTS_PEM }}
      CLOUD_FORMATION_DEPLOY_ROLE: ${{ secrets.PROD_CLOUD_FORMATION_DEPLOY_ROLE }}
      TARGET_SPINE_SERVER: ${{ secrets.PROD_TARGET_SPINE_SERVER }}
      TARGET_SERVICE_SEARCH_SERVER: ${{ secrets.PROD_TARGET_SERVICE_SEARCH_SERVER }}
      DEV_CLOUD_FORMATION_CHECK_VERSION_ROLE: ${{ secrets.DEV_CLOUD_FORMATION_CHECK_VERSION_ROLE }}
      INT_CLOUD_FORMATION_CHECK_VERSION_ROLE: ${{ secrets.INT_CLOUD_FORMATION_CHECK_VERSION_ROLE }}
      PROD_CLOUD_FORMATION_CHECK_VERSION_ROLE: ${{ secrets.PROD_CLOUD_FORMATION_CHECK_VERSION_ROLE }}
      DEV_CLOUD_FORMATION_EXECUTE_LAMBDA_ROLE: ${{ secrets.DEV_CLOUD_FORMATION_EXECUTE_LAMBDA_ROLE }}
      PROXYGEN_ROLE: ${{ secrets.PROXYGEN_PROD_ROLE }}
