name: sam package code

on:
  workflow_call:

jobs:
  sam_package_code:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          ref: ${{ env.BRANCH_NAME }}

      # using git commit sha for version of action to ensure we have stable version
      - name: Install asdf
        uses: asdf-vm/actions/setup@6a442392015fbbdd8b48696d41e0051b2698b2e4
        with:
          asdf_branch: v0.11.3
  
      - name: Cache asdf
        uses: actions/cache@v3
        with:
          path: |
            ~/.asdf
          key: ${{ runner.os }}-asdf-${{ hashFiles('**/.tool-versions') }}
          restore-keys: |
            ${{ runner.os }}-asdf-

      - name: Install asdf dependencies in .tool-versions
        uses: asdf-vm/actions/install@6a442392015fbbdd8b48696d41e0051b2698b2e4
        with:
          asdf_branch: v0.11.3
        env:
          PYTHON_CONFIGURE_OPTS: --enable-shared 
  
      - name: make install
        run: |
          export PATH="/home/runner/.asdf/installs/poetry/1.3.1/bin:$PATH"
          poetry config virtualenvs.prefer-active-python true
          make install

      - shell: bash
        name: package code
        run: |
          cp .tool-versions ~/
          rm -rf .aws-sam
          export PATH=$PATH:$PWD/node_modules/.bin
          make sam-build
          make compile-go
          cp Makefile .aws-sam/build/
          cp samconfig_package_and_deploy.toml .aws-sam/build/

      - uses: actions/upload-artifact@v3
        name: upload build artifact
        with:
          name: packaged_code
          path: |
            .aws-sam/build
            packages/getSecretLayer/lib/get-secrets-layer.zip 

      - shell: bash
        name: package sandbox code
        run: |
          cp .tool-versions ~/
          rm -rf .aws-sam
          export PATH=$PATH:$PWD/node_modules/.bin
          make sam-build-sandbox
          make compile-go
          cp Makefile .aws-sam/build/
          cp samconfig_package_and_deploy.toml .aws-sam/build/

      - uses: actions/upload-artifact@v3
        name: upload sandbox build artifact
        with:
          name: packaged_sandbox_code
          path: |
            .aws-sam/build
            packages/getSecretLayer/lib/get-secrets-layer.zip 
          
