name: sam package code

on:
  workflow_call:

jobs:
  sam_package_code:
    runs-on: ubuntu-22.04
    permissions:
      id-token: write
      contents: read
      packages: read
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
        with:
          ref: ${{ env.BRANCH_NAME }}

      # using git commit sha for version of action to ensure we have stable version
      - name: Get asdf version
        id: asdf-version
        run: echo "version=$(awk '!/^#/ && NF {print $1; exit}' .tool-versions.asdf)" >> "$GITHUB_OUTPUT"

      # using git commit sha for version of action to ensure we have stable version
      - name: Install asdf
        uses: asdf-vm/actions/setup@b7bcd026f18772e44fe1026d729e1611cc435d47
        with:
          asdf_version: ${{ steps.asdf-version.outputs.version }}

      - name: Cache asdf
        uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7
        with:
          path: |
            ~/.asdf
          key: ${{ runner.os }}-asdf-${{ hashFiles('**/.tool-versions') }}-${{ steps.asdf-version.outputs.version }}
          restore-keys: |
            ${{ runner.os }}-asdf-${{ hashFiles('**/.tool-versions') }}-${{ steps.asdf-version.outputs.version }}

      - name: Install asdf dependencies in .tool-versions
        uses: asdf-vm/actions/install@b7bcd026f18772e44fe1026d729e1611cc435d47
        with:
          asdf_version: ${{ steps.asdf-version.outputs.version }}
        env:
          PYTHON_CONFIGURE_OPTS: --enable-shared

      - name: Setting up .npmrc
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          echo "//npm.pkg.github.com/:_authToken=${NODE_AUTH_TOKEN}" >> ~/.npmrc
          echo "@NHSDigital:registry=https://npm.pkg.github.com" >> ~/.npmrc

      - name: make install
        run: |
          make install
          make compile

      - shell: bash
        name: package code
        run: |
          cp .tool-versions ~/
          rm -rf .aws-sam
          export PATH=$PATH:$PWD/node_modules/.bin
          make sam-build
          cp Makefile .aws-sam/build/
          cp samconfig_package_and_deploy.toml .aws-sam/build/

      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
        name: upload build artifact
        with:
          name: packaged_code
          path: |
            .aws-sam/build
            packages/getSecretLayer/lib/get-secrets-layer.zip 
            packages/specification/dist/prescriptions-for-patients.resolved.json
            SAMtemplates/state_machines/GetMyPrescriptionsStateMachine.asl.json

      - shell: bash
        name: package sandbox code
        run: |
          cp .tool-versions ~/
          rm -rf .aws-sam
          export PATH=$PATH:$PWD/node_modules/.bin
          make sam-build-sandbox
          cp Makefile .aws-sam/build/
          cp samconfig_package_and_deploy.toml .aws-sam/build/

      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
        name: upload sandbox build artifact
        with:
          name: packaged_sandbox_code
          path: |
            .aws-sam/build
            packages/getSecretLayer/lib/get-secrets-layer.zip
            packages/specification/dist/prescriptions-for-patients.resolved.json
